.menu{
  display: flex;
  flex-direction: row;
}

nav img{
  width: 17rem;
}

h1{
  text-align: center;
}


input{
  border-radius: 10px;
}

@media only screen and (max-width: 1024px) {

  a.nav-link{
    display: block;
    margin: 0 auto;
  }

  .navbar-toggler{
    margin: 0 auto;
  }

  .menu{
    flex-wrap: wrap;
  }

  button.buttonPages{
    display: none;
  }

  button.button{
    display: none;
  }

  .card-mobile{
    display: flex;
    justify-content: center;
  }
}